.focus-image i.fa-credit-card.fa-low-interest {
    background:#dd0908;
}
.focus-image i.fa-credit-card.fa-balance-transfer {
    background:#ff9e29;
}
.focus-image i.fa-credit-card.fa-student {
    background:#3fb7d2;
}
.focus-image i.fa-credit-card.fa-no-foreign-fee {
    background:#15c01c;
}
.focus-image i.fa-credit-card.fa-no-annual-fee {
    background:#7e3b07;
}
.focus-image i.fa-credit-card.fa-airline {
    background:#1963ce;
}
.focus-image i.fa-credit-card.fa-rewards {
    background:#c119ce;
}
.focus-image i.fa-credit-card.fa-business {
    background:#7fbad8;
}
.focus-image i.fa-credit-card.fa-gas {
    background:#1ca39d;
}
.focus-image i.fa-credit-card.fa-cash-back {
    background:#f49ecf;
}
.focus-image i.top-companies {
    background:#070c1f;
}
.focus-image i.fa-credit-card.fa-card-types {
    background:#df8012;
}