<div class="header">
    <div class="container">
        <div class="logo">
            <a href="index.html"><span>superior</span>&nbsp;credit&nbsp;cards</a>
        </div>
        <div class="header-right">
        <a class="account" href="login.html">My Account</a>
    </div>
</div>
<div class="main-banner banner text-center">
    <div class="container">    
        <h1>Sell or Advertise   <span class="segment-heading">    anything online </span> with Resale</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        <a href="post-ad.html">Post Free Ad</a>
    </div>
</div>
<!-- content-starts-here -->
<div class="content main-grid-border">
    <div class="trending-ads">
        <div class="container">
        <!-- slider -->
        <div class="trend-ads">
            <h2>Featured</h2>
            <ul id="flexiselDemo3">
                <li>
                    <div class="col-md-3 biseller-column">
                        <a href="single.html">
                            <img src="images/cc1.png"/>
                            <!--<span class="price">&#36; 450</span>-->
                        </a> 
                        <div class="ad-info">
                            <h5>There are many variations of passages</h5>
                            <span>1 hour ago</span>
                        </div>
                    </div>
                    <div class="col-md-3 biseller-column">
                        <a href="single.html">
                            <img src="images/cc1.png"/>
                            <!--<span class="price">&#36; 399</span>-->
                        </a> 
                        <div class="ad-info">
                            <h5>Lorem Ipsum is simply dummy</h5>
                            <span>3 hour ago</span>
                        </div>
                    </div>
                    <div class="col-md-3 biseller-column">
                        <a href="single.html">
                            <img src="images/cc1.png"/>
                            <!--<span class="price">&#36; 199</span>-->
                        </a> 
                        <div class="ad-info">
                            <h5>It is a long established fact that a reader</h5>
                            <span>8 hour ago</span>
                        </div>
                    </div>
                    <div class="col-md-3 biseller-column">
                        <a href="single.html">
                            <img src="images/cc1.png"/>
                            <!--<span class="price">&#36; 159</span>-->
                        </a> 
                        <div class="ad-info">
                            <h5>passage of Lorem Ipsum you need to be</h5>
                            <span>19 hour ago</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-md-3 biseller-column">
                        <a href="single.html">
                            <img src="images/cc1.png"/>
                            <!--<span class="price">&#36; 1599</span>-->
                        </a> 
                        <div class="ad-info">
                            <h5>There are many variations of passages</h5>
                            <span>1 hour ago</span>
                        </div>
                    </div>
                    <div class="col-md-3 biseller-column">
                        <a href="single.html">
                            <img src="images/cc1.png"/>
                            <!--<span class="price">&#36; 1099</span>-->
                        </a> 
                        <div class="ad-info">
                            <h5>passage of Lorem Ipsum you need to be</h5>
                            <span>1 day ago</span>
                        </div>
                    </div>
                    <div class="col-md-3 biseller-column">
                        <a href="single.html">
                            <img src="images/cc1.png"/>
                            <!--<span class="price">&#36; 109</span>-->
                        </a> 
                        <div class="ad-info">
                            <h5>It is a long established fact that a reader</h5>
                            <span>9 hour ago</span>
                        </div>
                    </div>
                    <div class="col-md-3 biseller-column">
                        <a href="single.html">
                            <img src="images/cc1.png"/>
                            <!--<span class="price">&#36; 189</span>-->
                        </a> 
                        <div class="ad-info">
                            <h5>Lorem Ipsum is simply dummy</h5>
                            <span>3 hour ago</span>
                        </div>
                    </div>
                </li>
            </ul>
            <script type="text/javascript">
                 $(window).load(function() {
                    $("#flexiselDemo3").flexisel({
                        visibleItems:1,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 5000,            
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: { 
                            portrait: { 
                                changePoint:480,
                                visibleItems:1
                            }, 
                            landscape: { 
                                changePoint:640,
                                visibleItems:1
                            },
                            tablet: { 
                                changePoint:768,
                                visibleItems:1
                            }
                        }
                    });
                    
                });
               </script>
               <script type="text/javascript" src="js/jquery.flexisel.js"></script>
            </div>   
    </div>

    <div class="categories">
        <div class="container">
            <h2>Categories</h2>
            <div class="col-md-2 focus-grid">
                <a href="cat1.html">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-credit-card"></i></div>
                            <h4 class="clrchg">Low Interest</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="cat1.html#parentVerticalTab2">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-laptop"></i></div>
                            <h4 class="clrchg">Balance Transfer</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="cat1.html#parentVerticalTab3">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-car"></i></div>
                            <h4 class="clrchg">Student</h4>
                        </div>
                    </div>
                </a>
            </div>  
            <div class="col-md-2 focus-grid">
                <a href="cat1.html#parentVerticalTab4">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-motorcycle"></i></div>
                            <h4 class="clrchg">No Foreign Fee</h4>
                        </div>
                    </div>
                </a>
            </div>  
            <div class="col-md-2 focus-grid">
                <a href="cat1.html#parentVerticalTab5">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-wheelchair"></i></div>
                            <h4 class="clrchg">No Annual Fee</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="cat1.html#parentVerticalTab6">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-paw"></i></div>
                            <h4 class="clrchg">Airline</h4>
                        </div>
                    </div>
                </a>
            </div>  
            <div class="col-md-2 focus-grid">
                <a href="cat1.html#parentVerticalTab7">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-book"></i></div>
                            <h4 class="clrchg">Rewards</h4>
                        </div>
                    </div>
                </a>
            </div>  
            <div class="col-md-2 focus-grid">
                <a href="cat1.html#parentVerticalTab8">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-asterisk"></i></div>
                            <h4 class="clrchg">Business</h4>
                        </div>
                    </div>
                </a>
            </div>  
            <div class="col-md-2 focus-grid">
                <a href="cat1.html#parentVerticalTab9">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-gamepad"></i></div>
                            <h4 class="clrchg">Gas</h4>
                        </div>
                    </div>
                </a>
            </div>  
            <div class="col-md-2 focus-grid">
                <a href="cat1.html#parentVerticalTab10">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-shield"></i></div>
                            <h4 class="clrchg">Cash Back</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="cat1.html#parentVerticalTab11">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-at"></i></div>
                            <h4 class="clrchg">Top Companies</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="cat1.html#parentVerticalTab12">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-home"></i></div>
                            <h4 class="clrchg">Card Types</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    
    <!-- //slider -->               
    </div>
    <!--<div class="mobile-app">
        <div class="container">
            <div class="col-md-5 app-left">
                <a href="mobileapp.html"><img src="images/app.png" alt=""></a>
            </div>
            <div class="col-md-7 app-right">
                <h3>Resale App is the <span>Easiest</span> way for Selling and buying second-hand goods</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor Sed bibendum varius euismod. Integer eget turpis sit amet lorem rutrum ullamcorper sed sed dui. vestibulum odio at elementum. Suspendisse et condimentum nibh.</p>
                <div class="app-buttons">
                    <div class="app-button">
                        <a href="#"><img src="images/1.png" alt=""></a>
                    </div>
                    <div class="app-button">
                        <a href="#"><img src="images/2.png" alt=""></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>-->
</div>